@import "tailwindcss";
@plugin "daisyui";


body {
    background: #F8EDFF;
}

h2 {
    color: #525CEB;
}

.swiper-button-next,
.swiper-button-prev {
    color: #dcdce7 !important;
}

/* .select:focus,
.select:focus-visible {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
} */